# Python Compile Files
__pycache__/

# VIM Temporary files
.*.swp
.*.swo

# Virtual Environments
env/

# Logs
logs/
*.log

# checkpoints
checkpoints/

# cache
cache/

# bazel files and symlinks
bazel-*

ESRGAN/wandb
ESRGAN/MicroscopyImages
ESRGAN/Microscopy
ESRGAN/datasets/
ESRGAN/model
ESRGAN/datasets/meta_info_64.txt
ESRGAN/datasets/meta_info_128.txt
ESRGAN/datasets/meta_info_256.txt
ESRGAN/datasets/meta_info_512.txt
ESRGAN/datasets/meta_info_1024.txt
ESRGAN/model-kimianet
ESRGAN/model
ESRGAN/Exported_Models
ESRGAN/results
ESRGAN/model-esrgantf2